{% extends 'base.html.twig' %}

{% block title %}Edit Phone
{% endblock %}

{% block body %}

{% block navbar %}
	<li>
		<a class="btn btn-default" href="{{path('phone_show')}}" role="button">Back to home</a>
	</li>
{% endblock %}
	<div class="container" style="margin-top: 20px; align-items: center; justify-content: center; display: flex;">
		<div class="card" style="width: 75%;">
			<h1 class="card-header ">
				Edit Phone
			</h1>
			<div class="card-body; text-align: left;">
				{{ form(form) }}
				</div>
			</div>
		</div>
	{% endblock %}
