{% extends 'base.html.twig' %}

{% block title %}
    Titulo de la vista
{% endblock %}


{% block body  %}
    <div>
        <h1>Titulo de contenido</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut malesuada velit eu sollicitudin semper. Sed luctus purus in ligula tempor, a faucibus ligula ornare. Integer tristique consequat enim eget hendrerit. Sed condimentum nibh ipsum, eu ullamcorper orci pulvinar sed. In ornare justo eget dolor faucibus facilisis.</p>
    </div>
{% endblock %}